<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="dashboard.overview">{{userName}}'s <span>Lemonaide</span></a>
                <!-- USER NAVBAR PULLDOWN -->
                <ul class="user-menu">
                    <a class="pull-right" href="">About</a>
                </ul>
            </div>              
        </div><!-- /.container-fluid -->
    </nav>
    <br>
    <br>
<div class="container">
    <div class="row">
        <div ng-repeat="business in youthBusinesses.data" class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img class='roundedIMG' src="{{business.photo}}">
                <div class="caption">
                    <button class="btn pull-right" ng-click="goDetail(business.firstName)"><a>Sponsor</a></button>
                    <h4>
                        <a ui-sref="detail">{{business.firstName}} {{business.lastName}}</a>
                    </h4>
                    <p>{{business.selfSummary}}</p>
                    <p>Business Name: {{business.businessName}}</p>
                    <p>{{business.businessSummary}}</p>
                    <p>{{business.region}}</p>
                </div>
            </div>
        </div>
    </div>
</div>