<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lemonaide</title>
    <base href = "/"/>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <!--JS dependencies-->
 	<script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/angular.js"></script>
    <script src="/scripts/angular-ui-router.js"></script>

    <!-- Angular Dependencies -->
    <script src = "/javascripts/app.js"></script>
    <script src="/javascripts/controllers/dashboardCtrl.js"></script>
    <script src="/javascripts/controllers/todoCtrl.js"></script>
    <script src="/javascripts/controllers/managerCtrl.js"></script>
    <script src="/javascripts/controllers/updateCtrl.js"></script>
    <script src="/javascripts/controllers/businessListCtrl.js"></script>
     <script src="/javascripts/controllers/signupController.js"></script>
    <script src="/javascripts/factories/signupFactory.js"></script>
    <script src="/javascripts/controllers/updateCtrl.js"></script>
    <script src="/javascripts/factories/overviewFactory.js"></script>
    <script src="/javascripts/factories/updateFactory.js"></script>





    <script src="/javascripts/controllers/addCtrl.js"></script>

    <script src="/javascripts/factories/addFactory.js"></script>

    <script src="/javascripts/controllers/goalCtrl.js"></script>

    <script src="/javascripts/factories/goalFactory.js"></script>


    <script src="/javascripts/factories/todoFactory.js"></script>

</head>
<body ng-app="lemonaide">
    <ui-view></ui-view>
    <footer></footer>

</body>
</html>