<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lemonaide - Dashboard</title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<body>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Add a Product to Sell</h1>
			</div>
		</div><!--/.row-->
				
		<div class="row">
			<form ng-submit="addProduct()">
			<div class="col-xs-12 col-md-12 col-lg-12">
				
				<!-- <h3>You don't have a goal yet. Why don't you add one?</h3> -->
				<div class="panel panel-red panel-widget ">

					<div class="row no-padding">
						<div class="col-sm-1 col-lg-1 widget-left">
							<em class="glyphicon glyphicon-pencil glyphicon-l"></em>
						</div>
						<div class="col-sm-3 col-lg-9 widget-right">
							<div class="row">
								<div class="col-sm-4  col-lg-4">
									<div class="large">Product Name:</div>
								<div class="text-muted">What is your product called?</div>
								</div>
								<div class="col-sm-8  col-lg-8">
									<input class="addproductform form-control" placeholder="Type here" ng-model="updatedObj.name">
								</div>
							</div>

						</div class="col-sm-5 col-lg-5 widget-right">
							<!-- <input class="form-control" placeholder="What do you want to sell?" ng-model="updatedObj.name"> -->
						<div >
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-12 col-lg-12">
				
				<!-- <h3>You don't have a goal yet. Why don't you add one?</h3> -->
				<div class="panel panel-teal panel-widget ">

					<div class="row no-padding">
						<div class="col-sm-1 col-lg-1 widget-left">
							<em class="glyphicon glyphicon-usd glyphicon-l"></em>
						</div>
						<div class="col-sm-3 col-lg-9 widget-right">
							<div class="row">
								<div class="col-sm-4  col-lg-4">
									<div class="large">Product Price:</div>
								<div class="text-muted">How much will you charge customers?</div>
								</div>
								<div class="col-sm-8  col-lg-8">
									<input class="addproductform form-control" placeholder="Type here" ng-model="updatedObj.price">
								</div>
							</div>

						</div class="col-sm-5 col-lg-5 widget-right">
							<!-- <input class="form-control" placeholder="What do you want to sell?" ng-model="updatedObj.name"> -->
						<div >
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12">
				<button type="submit" class="btn btn-block btn-primary">Add Product!</button>
			</div>
			</form>

		</div>
		<!-- <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					
					<div class="panel-body">
						<div class="col-md-6">
							<form ng-submit="addProduct()">
							
								<div class="form-group">
									<label>Product Name</label>
									<input class="form-control" placeholder="What do you want to sell?" ng-model="updatedObj.name">
								</div>

								<div class="form-group">
									<label>Product Price</label>
									<input class="form-control" placeholder="How much do you want to charge for your product?" ng-model="updatedObj.price">
								</div>

								<div class="form-group">
									<label>Product Cost</label>
									<input class="form-control" placeholder="How much does it cost you?" ng-model="updatedObj.cost">
								</div>
								<button type="submit" class="btn btn-block btn-primary">Add Product</button>	
								
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div> -->
	</div>	<!--/.main-->

<script src="/scripts/jquery.min.js"></script>
	
</body>

</html>
