<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lemonaide - Dashboard</title>

<link rel="stylesheet" href="/stylesheets/forms.css">
<!-- <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,700' rel='stylesheet' type='text/css'> -->

</head>
<!--wont need above once we switched to states -->
<style>

@import url(//fonts.googleapis.com/css?family=Open+Sans);

@import url(//fonts.googleapis.com/css?family=Dosis);


body{
	font-family: 'Arial Rounded Bold', sans-serif;
	background-color: #d8ecf9;
}
</style>
<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 center-block vertical-center centered" id="signup-block">
		<h3 class='sneet'>Log In</h3>
		<div>
    		<p><a ui-sref="signup.name" id="signUpLink">New to Lemonaide? Sign up here!</a></p>
		</div>
		
		<form>
			<div class="form-group">
				<input name="userName" type="text" class="form-control" id="firstName" placeholder="Username" maxlength="32">

				<input name="password" type="password" class="form-control" id="signup_password" placeholder="Password" data-toggle="tooltip" data-placement="left" title="Min. 7 characters. Include at least one Capital letter and one number">
			</div>
			<div class="checkbox">
				<!-- <button type="submit" class="btn btn-default">Submit</button> -->
				<button ui-sref = "dashboard.overview({id: 3})" type="submit" class="btn btn-lg action fave hvr-grow spin" aria-hidden="true"><i class="glyphicon glyphicon-ok"></i></button>
			</div>
		</form>
	</div>
