<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lemonaide - Dashboard</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/forms.css">
</head>
<style>
body{
	font-family: BrushStroke;
	background-color: #d8ecf9;
}
</style>
<body>
<!--wont need above once we switched to states -->
	<navbar></navbar>
	<pre>{{signupUser | json}}</pre>
	<ui-view></ui-view>


<script src="/scripts/jquery.min.js"></script>
	
</body>

</html>
