<style>
body{
	font-family: BrushStroke;
	background-color: #d8ecf9;
}
</style>
<div class = "splash-img-container">
<svg viewBox='0 0 105 105'>
  <path d='M 25,60 
           a 20,20 1 0,0 0,40 
           h 50 
           a 20,20 1 0,0 0,-40 
           a 10,10 1 0,0 -15,-10 
           a 15,15 1 0,0 -35,10  
           z' />
</svg>
	<div class="outerhalo">
		<div class = "middlehalo">
			<div class = "sun"></div>
		</div>
	</div>
	<div class = "title-wrap">
		<h3>LEMONAIDE</h3>
	</div>
	<a ui-sref = "login" class = "login">Log-In</a>
	<a ui-sref = "signup.name" class = "signup"> Sign Up</a>
	<div class = "img-container"><img src = "/images/lemonadeStandPhotoFixedWithTop.png"></img></div>
	<div class = "grass"></div>
</div>