<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lemonaide - Dashboard</title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<body>	
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">To-Do List</h1>
			</div>
		</div><!--/.row-->
								
		<div class="row">
			
			<div class="col-md-6 col-center">
			
				<div class="panel panel-blue">
					<div class="panel-heading dark-overlay"><span class="glyphicon glyphicon-check"></span>To-do List</div>
					<div class="panel-body">
						<ul class="todo-list">
						<li class="todo-list-item" ng-repeat="todo in todos" >
								<div class="checkbox" ng-model="todos.done">
									<input type="checkbox" id="checkbox" ng-model="todo.done" ng-change="updateTodo(todo.todo, todo.done)" />
									<label for="checkbox">{{todo.todo}}</label>
								</div>
					 			<div class="pull-right action-buttons">
									<a class="trash"><span class="glyphicon glyphicon-trash" ng-click="removeTodo(todo.todo)"></span></a>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer">
						<div class="input-group">
							<input id="btn-input" type="text" class="form-control input-md" ng-model="newTodo.todo" placeholder="Add new task" />
							<span class="input-group-btn">
								<button ng-click="addTodo(newTodo)"class="btn btn-primary btn-md" id="btn-todo">Add</button>
							</span>
						</div>
					</div>
				</div>
								
			</div><!--/.col-->
		</div><!--/.row-->
	</div>	<!--/.main-->

<script src="/scripts/jquery.min.js"></script>
	
</body>

</html>
