<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 center-block vertical-center centered" id="signup-block">
	<h3 class='sneet' >It's great to have you, [Name]! What's the name of your business?</h3>
	<p><i>Example: Bobby's Lemonade Stand</i></p>
	<form method="PUT">
		<div class="form-group">
			<input name="businessName" type="text" class="form-control" id="businessName" maxlength="32">
		</div>
		<button ui-sref="signup.product" 
				class="spin btn btn-lg action fave hvr-grow" 
				aria-hidden="true"><i class="spin glyphicon glyphicon-chevron-right"></i></button>
	</form>
</div>
