<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 center-block vertical-center centered" id="signup-block">
	<h3 class='sneet' >Your name is awesome! What are you thinking of selling?</h3>
	<p><i>Example: Lemonade</i></p>
	<form method="PUT">
		<div class="form-group">
			<input name="businessName" type="text" class="form-control" id="businessName" maxlength="32">
		</div>

		<button ui-sref="dashboard.overview" 
				type="submit" 
				class="btn btn-lg action fave hvr-grow" 
				aria-hidden="true"><i class="spin glyphicon glyphicon-chevron-right"></i></button>
	</form>
</div>

<!-- some sort of message should appear letting user know theyve enetered all their data before it goes to the dashboard.overview -->