<div class="centered">
		<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 center-block vertical-center centered" id="login-block">
			
			<form method="PUT">
				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<button ui-sref="signup.business-name" 
						type="submit" 
						class="btn btn-lg action fave hvr-grow" 
						aria-hidden="true"><i class="spin glyphicon glyphicon-chevron-right"></i></button>
			</form>
		</div>
	</div>