<div class="centered">
		<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 center-block vertical-center centered" id="login-block">
		<h3 class='sneet' >Hi there, what's your name?</h3>
			<form>
				<div class="form-group">
					<input type="firstname" class="form-control" id="exampleInputEmail1" placeholder="First Name" ng-model = "signupUser.firstName">
				
					<input type="lastname" class="form-control" id="exampleInputPassword1" placeholder="Last Name" ng-model = "signupUser.lastName">
				</div>
				<button ui-sref="signup.business-name" 
						type="submit" 
						class="spin btn btn-lg action fave hvr-grow" 
						aria-hidden="true"><i class="glyphicon glyphicon-chevron-right"></i></button>
			</form>
		</div>
	</div>

<!-- 
	signupUser

	var youthSchema = new mongoose.Schema({
	//first name of child
	firstName: {
		type: String,
		required: true
	},
	//last name in child
	lastName: {
		type: String,
		required: true
	},
	password: {
		type: String,
		required: true
	},
	//their age (not required)
	age: Number,
	//name of their business (definitely required)
	businessName: {
		type: String,
		required: true
	},
	//what their business does
	businessSummary: {
		type: String,
		required: true
	},
	//an optional blurb about themselves.
	selfSummary: String,
	//an optional mention for the region they live in.
	region: String,
	//what they sell (will relate to product schema)
	products: [productSchema]
}) -->