<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 center-block vertical-center centered" id="signup-block">
	<h3 class='sneet' >Sounds great! What are you trying to sell?</h3>
	<p><i>Example: Lemonade</i></p>
	<form>
		<div class="form-group">
			<textarea name="businessProduct" type="text" class="form-control" id="businessProduct" maxlength="32" ng-model="signupUser.product"></textarea>
		</div>
		<button ui-sref="signup.business-statement" 
				type="submit" 
				class="spin btn btn-lg action fave hvr-grow" 
				aria-hidden="true"><i class="glyphicon glyphicon-chevron-right"></i></button>
	</form>
</div>