<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 center-block vertical-center centered" id="signup-block">
	<h3 class='sneet' >That sounds like a great product! How would you describe your business?</h3>
	<p><i>Example: I want to make the world's most sour lemonade!</i></p>
	<form method="PUT">
		<div class="form-group">
			<textarea name="businessName" type="text" class="form-control" id="businessName" maxlength="32"></textarea>
		</div>
		<button ui-sref="signup.business-statement" 
				type="submit" 
				class="spin btn btn-lg action fave hvr-grow" 
				aria-hidden="true"><i class="spin glyphicon glyphicon-chevron-right"></i></button>
	</form>
</div>